body {
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 
ul {
  list-style-type: none;
} */

a {
  color: #e91e63;
}
/* 
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  width: 70%;
  position: relative;
  margin-top: 150px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.col-left {
  order: 1;
  flex-grow: 1;
  flex-shrink: 1;
  text-align: center;
  margin-right: 15px;
}

.col-right {
  order: 2;
  flex-grow: 1;
  flex-shrink: 1;
} */

/* Column left styling */
/* 
#header {
  height: 80px;
  line-height: 80px;
  vertical-align: middle;
  margin-bottom: 30px;
  color: #e91e63;
}

#header img {
  display: inline-block;
  line-height: 80px;
  vertical-align: middle;
  margin-right: 5px;
  height: 65px;
  width: 65px;
  border-radius: 100%;
  background-color: #e91e63;
}

#header h1 {
  display: inline-block;
  line-height: 80px;
  vertical-align: middle;
}

#headshot {
  display: block;
  height: 250px;
  width: 250px;
  margin: 30px auto;
  border-radius: 50%;
}

#footer {
  position: fixed;
  bottom: 3px;
  right: 3px;
  text-align: right;
}

#footer p {
  margin: 0px;
  font-size: smaller;
} */
